<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705507248310-gbn6cmg5bh751pbvsv6hokgel5auh72c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705507248310-gbn6cmg5bh751pbvsv6hokgel5auh72c</string>
	<key>API_KEY</key>
	<string>AIzaSyAFbeO3u7iH2Yqmk9LEPFkQPBqjtNaSBIs</string>
	<key>GCM_SENDER_ID</key>
	<string>705507248310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFitLogApp</string>
	<key>PROJECT_ID</key>
	<string>my-fit-log-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-fit-log-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705507248310:ios:963a189a46d75f94b7be17</string>
</dict>
</plist>